{
  "domain": "{{ domain }}",
  "name": "{{ integration_name }}",
  "codeowners": ["@{{ github_user }}"],
  "config_flow": {{ has_config_flow | lower }},
  "documentation": "https://github.com/{{ github_user }}/ha-{{ domain }}",
  "integration_type": "{{ integration_type }}",
  "iot_class": "{{ iot_class }}",
  "issue_tracker": "https://github.com/{{ github_user }}/ha-{{ domain }}/issues",
  "requirements": [],
  "version": "v0.0.0"
}
