{
  "config": {
    "step": {
      "user": {
        "title": "{{ integration_name }}",
        "description": "Add {{ integration_name }} to Home Assistant."
      }
    },
    "abort": {
      "already_configured": "Already configured"
    }
  }
}
